<div class="result">

  <div class="distance" style="float: right">
    <%= result.distance_from(@current_location).round %> mi
  </div>

  <div class="icon" style="float:left">
    <img src="prototype/images/icon-<%= org_type %>.png" />
  </div>

  <div class="name">
    <%= result['name'] %>
  </div>

  <div class="address">
    <%= result['address'] %>, <%= result['city'] %>, <%= result['state'] %>
    <% if result['phone'].present? %>
        <br/>
        phone: <a href="tel:<%= result['phone'] %>"><%= result['phone'] %></a>
    <% end %>
    <% if result['email'].present? %>
        <br/>
        <a href="mailto:<%= result['email'] %>"><%= result['email'] %></a>
    <% end %>
  </div>

</div>
