<div class="conversation">
  Here are some places near <%= @current_location['city'] %>
  where your <%= @survey_response.food_description %>
  might find a new home.
  Creating partnerships with local food distribution centers is a great way to help your community.
</div>

<div class="results">
  <section class="food-shelves<% if @survey_response.edible? %> eligible<% end %>">
    <h3>Food Shelves</h3>
    <% if @survey_response.edible? %>
        <% @foodshelf.each do |result| %>
          <%= render 'result', result: result, org_type: 'food' %>
        <% end %>
    <% else %>
        <p class="not-eligible">
            This food is not eligible to donate to a food shelf because
            <% if @survey_response.opened %>it was opened<% end %>
            <% if @survey_response.old %>it is older than 3 days<% end %>
            <% if @survey_response.dangerous_temperature %>it was in "The Danger Zone" for temperature<% end %>
            <% if @survey_response.distressed %>it is visibly distressed<% end %>
            . See the list of farms and composters below for ways to dispose of this food.
        </p>
    <% end %>
  </section>

  <section class="farms">
    <h3><i></i>Pig Farms</h3>
    <% @pig.each do |result| %>
      <%= render 'result', result: result, org_type: 'pig' %>
    <% end %>
  </section>

  <section class="compost">
    <h3><i></i>Composting Facilities</h3>
    <% @compost.each do |result| %>
      <%= render 'result', result: result, org_type: 'compost' %>
    <% end %>
  </section>
</div>
