<h1>Results</h1>

<%= @survey_response.to_json %>

<h3>Food Shelves</h3>
<% @foodshelf.each do |result| %>
    <li>
      <%= result['name'] %>
      (<%= result.distance_from(@current_location).round %> mi)
    </li>
<% end %>

<h3>Pig Farms</h3>

<% @pig.each do |result| %>
    <li>
      <%= result['name'] %>
      (<%= result.distance_from(@current_location).round %> mi)
    </li>
<% end %>

<h3>Composting Facilities</h3>
<% @compost.each do |result| %>
    <li>
      <%= result['name'] %>
      (<%= result.distance_from(@current_location).round %> mi)
    </li>
<% end %>
