<div class="conversation">
  Here are some places near <%= @current_location['city'] %>
  where your <%= @survey_response.food_description %>
  might find a new home.
  Creating partnerships with local food distribution centers is a great way to help your community.
</div>

<div class="results">
  <section class="food-shelves">
    <h3><i></i>Food Shelves</h3>
    <% if @survey_response.edible? %>
        <% @foodshelf.each do |result| %>
          <%= render 'result', result: result, org_type: 'food' %>
        <% end %>
    <% else %>
        <li>This food is not eligible to donate to a food shelf. Please see the other resources below</li>
    <% end %>
  </section>

  <section class="farms">
    <h3><i></i>Pig Farms</h3>
    <% @pig.each do |result| %>
      <%= render 'result', result: result, org_type: 'pig' %>
    <% end %>
  </section>

  <section class="compost">
    <h3><i></i>Composting Facilities</h3>
    <% @compost.each do |result| %>
      <%= render 'result', result: result, org_type: 'compost' %>
    <% end %>
  </section>
</div>
