<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Food Rescue</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Foodrescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
      <div class="container">
          <a href="/" alt="Home"><div class="logo"><%= image_tag("logo-final.png") %></div></a>

      </div>
  </header>

  <main class="content">
      <div class="container">
        <%= yield %>
      </div>
  </main>
  <footer>
      <div class="container">
          <p>
            A <a href="http://www.codeforbtv.org" alt="Code for BTV">Code for BTV</a> collaborative project to benefit the <a href="http://www.vtfoodbank.org/" alt="Vermont Food Bank">Vermont Food Bank</a>.
            <br/>
            Source code on <a href="https://github.com/codeforbtv/foodrescue">GitHub</a>.</p>
      </div>
  </footer>


</body>
</html>
