<!DOCTYPE html>
<html>
<head>
  <title>Foodrescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
    <ul>
        <li><%= link_to_unless_current("Home", root_path) %></li>
    </ul>
</nav>

<% if @current_location %>
<i>Looks like you're at <%= @current_location.inspect %> <%= @current_location.values %></i>
<% end %>

<%= yield %>

</body>
</html>
